html, body {
    margin: 0;
}
header, footer {
    background-color: #1f2937;
    padding: 15px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}
footer {
    text-align: center;
    color: #e5e7eb;
}
ul {
    display: flex;
    gap: 10px;
    font-size: 18px;
    list-style: none;
}
a {
    color: #e5e7eb;
    text-decoration: none;
}
.header-logo {
    font-size: 24px;
    color: #f9faf8;
}
div.section {
    padding-left: 5%;
    padding-right: 5%;
}
.section-1 {
    background-color: #1f2937;
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
    justify-content: space-evenly;
    gap: 5%;
}
.left-hero > h1 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin: 0;
}
.left-hero > p {
    font-size: 18px;
    color: #e5e7eb;
}
button {
    background-color: #3882f6;
    border-radius: 5px;
    padding: 5px 20px;
    color: white;
    border: none;
}
.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 5%;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card > p {
    text-align: center;
    width: 110px;
    margin: 10px;
}
.card > img {
    border: #3882f6 2px solid;
    border-radius: 5px;
}
.section-3 {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #e5e7eb;
}
.section-3 > p:nth-child(1) {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 0;
    padding-bottom: 0;
}
.right-justify {
    display: flex;
    justify-content: flex-end !important;
}
.right-justify > p {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    padding-top: 0;
}
.section-4 {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.action-call {
    background-color: #3882f6;
    border-radius: 5px;
    display: flex;
    padding: 10px 30px;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}
.action-call > button {
    border: #f9faf8 2px solid;
}
.text-section {
    color: #f9faf8;
    width: 70%;
}
.text-section > h3 {
    padding: 0;
    margin-bottom: 0;
}
.text-section > p {
    padding: 0;
    margin-top: 0;
}

